.container
{
    font-family: serif;
    font-size:20px;
    line-height: 2em;
    color:#555;
}

h1
{
    font-family: sans-serif;
    text-transform:capitalize ;
    font-size: 2.5em;
    color:brown;
    font-weight: normal;
}
h2
{
    font-family: sans-serif;
    text-transform:capitalize ;
    font-size: 2.5em;
    color:brown;
    font-weight: normal;
}

cite
{
    background-color: #eee;
    font-style: italic;
    color:#777;
}